$tokens: (
  // Core
  'dark-soil': #1e1e1e,
  'deep-dark': #0e0f11,
  'warm-white': #f4f3ef,
  'white': #ffffff,
  'grey': #4d4d4d,
  'main-color': #d0ff71
);

$vars: createCssVars($tokens, 'c');

/* ==========================
Colour tokens
============================= */
@include tokensToVars($vars);

/* ==========================
Themes
============================= */
html {
  --bg-color: var(--c-deep-dark);
  --text-color: var(--c-white);
  --heading-color: var(--c-white);
  --text-hover-color: var(--c-popping-orange);
}

html.dark {
  --bg-color: var(--c-deep-dark);
  --text-color: var(--c-white);
  --heading-color: var(--c-white);
  --text-hover-color: var(--c-popping-orange);
}

html.light {
  --bg-color: var(--c-white);
  --text-color: var(--c-deep-dark);
  --heading-color: var(--c-deep-dark);
  --text-hover-color: var(--c-popping-orange);
}

.section-inverse-theme {
  background-color: var(--text-color);
  color: var(--bg-color);
}
