$tokens: (
  'body': 1rem,
  'body-large': clamp(1.125rem, 4vw, 1.25rem),
  'heading-1': clamp(2.5rem, 6vw, 3.5rem),
  'heading-2': clamp(2rem, 5vw, 3rem),
  'heading-3': clamp(1.5rem, 4vw, 2.25rem),
  'heading-4': clamp(1.3rem, 3vw, 1.75rem),
  'label': 0.875rem,
  'tiny': 0.8rem,
  'micro': 0.75rem
);

$vars: createCssVars($tokens, 'ts');

/* ==========================
Font size tokens
============================= */
@include tokensToVars($vars);

/* ==========================
Font size utils
============================= */
@include tokensToUtils($tokens, $vars, 'ts', 'font-size');
