.card-wrapper {
  & .card {
    border-radius: 0.5rem;
    padding-bottom: 1rem;
    padding: var(--space-1);
    position: relative;
    backdrop-filter: blur(10px);
    background-color: var(--header-bg);
    overflow: hidden;
    cursor: pointer;

    &__image {
      display: block;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
      object-position: 50% 50%;
      position: absolute;
      width: 100% !important;
      z-index: -1;
    }

    &__tag {
      --chip-bg: var(--main-color);
      --chip-padding: var(--space-05) var(--space-1);
      --chip-text-size: var(--ts-tiny);
      --chip-text: var(--c-deep-dark);
    }

    &__description {
      color: var(--c-grey);
    }
  }
}

.project-card {
  min-height: 12rem;
  position: relative;

  // Overlay gradient
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background-size: 100% 200%;
    background-position: 0 0;
    transition: background-position 0.3s cubic-bezier(0.39, 0.57, 0.56, 1);
  }
}

.card-wrapper:hover .project-card::after {
  background-position: 0 100%;
}

/* ==========================
   CARD REVEAL ANIMATION
   ============================= */
.card[data-waiting] {
  transition:
    opacity 0.5s calc(0.15s + (0.1s * var(--card-index, 0))) ease-out,
    transform 0.45s calc(0.1s + (0.1s * var(--card-index, 0))) cubic-bezier(0.39, 0.57, 0.56, 1);
}

.card[data-waiting='true'] {
  opacity: 0;
  transform: translate3d(0, 0.75rem, 0);
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &__content {
    transform: translateY(300%);
    opacity: 0;
    transition:
      transform 0.3s cubic-bezier(0.39, 0.57, 0.56, 1),
      opacity 0.3s ease;
    cursor: pointer;

    &--arrow {
      height: 3em !important;
      width: 3em !important;
      color: var(--c-main-color);
    }
  }
}

.card-wrapper:hover .card-overlay__content {
  transform: translateY(0);
  opacity: 1;
}
