.footer {
  border-radius: 1rem 0;

  & h2 {
    color: var(--bg-color);
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 10rem;
  }
}

.footer .footer__bottom {
  display: flex;
  justify-content: space-between;
}
