.marquee {
  display: flex;
  overflow: hidden;
  padding: 0.5rem;
  gap: var(--gap);
  flex-direction: row;

  --mask: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
    )
    100% 50% / 100% 100% repeat-x;

  -webkit-mask: var(--mask);
  mask: var(--mask);

  &:hover {
    .animate-marquee {
      animation-play-state: paused;
    }
  }

  &-group {
    display: flex;
    gap: var(--gap);
    flex-direction: row;
  }

  &-item {
    // &:hover {
    //     padding: var(--space-2);
    // }
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
