@import 'assets/scss/utilities/mixin';

.section-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-3);

  @include breakpoint(lg, min) {
    margin-bottom: var(--space-5);
  }
}

.section-header.center {
  text-align: center;
}

.section-header__center > .section-header-content {
  align-self: center;
}

.section-header__slim > .section-header-content {
  max-width: 600px;
}

.section-header__tag {
  font-size: var(--ts-label);
  text-transform: uppercase;
  color: var(--c-main-color);
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 1px;
  margin-bottom: var(--space-1);
}

.section-header__title {
  font-weight: bold;
  color: var(--headings-color);
  font-size: var(--ts-heading-3);
  line-height: var(--lh-heading-3);
  color: var(--text-color);
  font-weight: 500;
}

.section-header__title-xl {
  font-size: var(--ts-heading-1);
  line-height: var(--lh-heading-1);
}

.section-header__title-lg {
  font-size: var(--ts-heading-2);
  line-height: var(--lh-heading-2);
}

.section-header__title-md {
  font-size: var(--ts-heading-3);
  line-height: var(--lh-heading-3);
}

.section-header__title-sm {
  font-size: var(--ts-heading-4);
  line-height: var(--lh-heading-4);
}

.section-header__description {
  font-size: var(--ts-body-large);
  line-height: 1.6;
  // margin-top: var(--space-1);
  color: var(--c-grey);
}

.arrow-cta-highlighted {
  color: var(--c-main-color);
  font-size: var(--ts-heading-1);
  transform: rotate(45deg);

  @include breakpoint(lg, max) {
    display: none;
  }

  &--tiny {
    display: none;
    font-size: var(--ts-heading-4);
    transform: rotate(45deg);

    @include breakpoint(lg, max) {
      display: block;
    }
  }
}
