:root {
  --radius-default: 1.925rem;
  --radius-pill: 3.125rem;
}

/* ===============================
// Global styles and basic typography
// ================================== */
html {
  height: 100%;
  scroll-behavior: smooth;
  font-family: var(--font-primary);
}

/* Set the body to flexbox column to ensure it has full height */
body {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  font-size: var(--ts-body);
  line-height: var(--lh-body);
}

/* allow main to grow to fit the content */
main {
  outline: none;
  flex: auto;
  position: relative;
  background-color: var(--bg-color);
  z-index: 1;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &:not(&--error) > main {
    flex: 1;
  }

  &--error {
    align-items: center;
    justify-content: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  color: var(--heading-color, var(--text-color, inherit));
}

a {
  color: inherit;
  text-decoration: none;
}

a:not([class]):not(:hover),
.t-link:not(:hover) {
  text-decoration: underline;
  text-underline-offset: 0.175em;
}

/* General heading styles */
h1,
h2,
h3,
h4,
.t-h1,
.t-h2,
.t-h3,
.t-h4 {
  font-family: var(--font-headline);
  letter-spacing: -0.01em;
}

/* Specific font weights */
h1,
h2,
.t-h1,
.t-h2 {
  font-weight: 600;
}

h3,
h4,
.t-h3,
.t-h4 {
  font-weight: 500;
}

h1,
.t-h1 {
  font-size: var(--ts-heading-1);
  line-height: var(--lh-heading-3);
}

h2,
.t-h2 {
  font-size: var(--ts-heading-2);
  line-height: var(--lh-heading-2);
}

h3,
.t-h3 {
  font-size: var(--ts-heading-3);
  line-height: var(--lh-heading-3);
}

h4,
.t-h4 {
  font-size: var(--ts-heading-4);
  line-height: var(--lh-heading-4);
}
h5,
.t-h5 {
  font-size: var(--ts-heading-5, var(--ts-body-large));
  line-height: var(--lh-heading-5, var(--lh-body-large));
}
h6,
.t-h6 {
  font-size: var(--ts-heading-6, var(--ts-body-large));
  line-height: var(--lh-heading-6, var(--lh-body-large));
}

p {
  color: var(--text-color);
}

.t-label {
  font-family: var(--font-primary);
  font-size: var(--ts-label);
  line-height: var(--lh-label);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--c-main-color);
}

.t-body {
  font-family: var(--font-primary);
  font-size: var(--ts-body);
  line-height: var(--lh-body);
  letter-spacing: 0.02em;
}

.t-body-large {
  font-family: var(--font-primary);
  font-size: var(--ts-body-large);
  line-height: var(--lh-body-large);
  letter-spacing: 0.02em;
}

.absolute {
  position: absolute;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

/* Dark mode animation */
::view-transition-group(root) {
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="0" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>')
    top left / 0 no-repeat;
  mask-origin: content-box;
  animation: scale 1s;
  transform-origin: top left;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: scale 1s;
  transform-origin: top left;
  z-index: -1;
}

footer {
  position: sticky;
  bottom: 0;
}
